@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.footerContainer {
    .bottomContainer {
        background-color: $darkBackgroundColor;
    }
    .bottomSection {
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        min-height: 80px;
        @include container();
        color: $lightColor;
        // .developed,
        .copyright {
            font-weight: 300;
        }
        // .developed {
        //     .name {
        //         color: $secondaryTextColor;
        //         font-weight: 500;
        //     }
        // }
    }

    @include responsive("md") {
        // .bottomSection {
        //     flex-direction: column;
        // }
    }
}
