@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.content {
    .imageContainer {
        height: 120px;
        cursor: grab;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
        .image {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}
