@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.logoLoader {
    .logoImage {
        object-fit: contain;
        width: 200px;
        height: auto;
        animation: logoAnimation 1.5s infinite alternate ease-in-out;
    }

    @keyframes logoAnimation {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            transform: scale(0.9);
            opacity: 0.1;
        }
    }
}
