@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.textComp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    .text {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
}
