@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.content {
    text-align: center;
    .subDescriptions {
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
        text-align: center;
    }
}
