/* background */

$mainBackgroundColor: #ffffff;
$grayBackgroundColor: #fafafa;

/* text */

$mainTextColor: #000000;
$textColor: #4f5665;
$lightColor: #fff;
$grayTextColor: #bdbdbd;

/* border */

$borderColor: #e4e7ec;

/* placeholder */

$placeholderColor: #d7d9dd;
