::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f9fafb;
}

::-webkit-scrollbar-thumb {
    background-color: #e4e7eb;
    border-radius: 4px;
}

a {
    :is(:focus, :hover) {
        text-decoration: none;
    }
}
