@import "./variables";

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: $grayBackgroundColor;
}

::-webkit-scrollbar-thumb {
    background-color: $secondaryBackgroundColor;
    border-radius: 4px;
}

a {
    :is(:focus, :hover) {
        text-decoration: none;
    }
}
