/* background */

$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #304e9d;
$grayBackgroundColor: #f5f5f4;
$lightGrayBackgroundColor: #f9f9f9;
$darkBackgroundColor: #061d3e;

/* text */

$mainTextColor: #304e9d;
$secondaryTextColor: #d69f5b;
$grayTextColor: #f5f5f4;
$lightGrayTextColor: #f9f9f9;
$lightColor: #fff;
$darkColor: #000;

/* border */

$borderColor: #e4e7ec;

/* placeholder */

$placeholderColor: #d7d9dd;

/* spacing */

$spacing: 4px;
