@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.main {
    padding-top: calc(80px + 60px);
    padding-bottom: 60px;
    position: relative;
    z-index: 1;

    .container {
        @include container();
        display: flex;
        flex-direction: column;
        gap: 45px;

        .coverContainer {
            .cover {
                max-width: 100%;
                height: auto;
                max-height: 60dvh;
                object-fit: contain;
            }
        }

        .titleAndDate {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .title {
                font-size: 36px;
            }

            .date {
                font-size: 16px;
                font-weight: 300;
                color: $darkGrayTextColor;
            }
        }

        .textContainer {
            .text {
            }
        }
    }
}
