@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.topSection {
    background-color: $grayBackgroundColor;
    border-bottom: 2px solid #192b49;
    .container {
        @include container();
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        justify-content: space-between;
        gap: 60px;

        .topPart {
            display: flex;
            justify-content: flex-start;
        }

        .sectionWithTitle {
            display: flex;
            flex-direction: column;
            gap: 30px;
            flex: 1;

            .title {
                color: $mainTextColor;
                font-size: 20px;
                font-weight: 600;
            }

            .contact {
                display: flex;
                flex-direction: column;
                gap: 15px;
                .item {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    color: $mainTextColor;
                    font-size: 16px;
                    svg,
                    img {
                        width: 24px;
                        height: 24px;

                        path {
                            fill: $mainTextColor;
                        }
                    }
                }
            }
        }

        .socialMediaLinks {
            display: flex;
            align-items: center;
            gap: 24px;

            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: $secondaryBackgroundColor;
                color: $grayTextColor;
                transition: all 0.3s ease-in-out;
                overflow: hidden;

                svg,
                img {
                    width: 18px;
                    height: 18px;
                }

                svg {
                    path {
                        fill: $grayTextColor;
                        transition: all 0.3s ease-in-out;
                    }
                }

                &:hover {
                    background-color: $secondaryTextColor;
                    color: $mainTextColor;
                    svg {
                        path {
                            fill: $lightColor;
                        }
                    }
                }
            }
        }

        .idFile {
            color: $secondaryTextColor;
            text-decoration: underline;
        }
    }

    @include responsive("md") {
        .container {
            flex-direction: column;
            .socialMediaLinks {
                gap: 12px;

                .link {
                    width: 30px;
                    height: 30px;

                    svg,
                    img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
}
