@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.main {
    padding-top: calc(80px + 60px);
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
    min-height: unset;

    .container {
        @include container();
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .logoImage {
            max-width: 200px;
            height: auto;
            object-fit: contain;
        }

        .text {
            font-size: 18px;
            font-weight: 700;
            color: $mainTextColor;
        }
    }
}
