@import "@/styles/partials/variables";
@import "@/styles/partials/mixins";

.linksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    .listItem {
        width: 100%;
        .link {
            position: relative;
            display: inline-block;
            color: $mainTextColor;
            font-size: 18px;
            font-weight: 400;
            transition: all 0.3s ease-in-out;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: $secondaryTextColor;
                transition: all 0.3s ease-in-out;
                border-radius: 2px;
            }
            &:hover {
                color: $secondaryTextColor;

                &::before {
                    width: 100%;
                }
            }
        }
    }

    &.notInDrawer {
        flex-direction: row;
        width: initial;

        .listItem {
            width: initial;
        }

        @include responsive("md") {
            display: none;
        }
    }
    &.inFooter {
        flex-direction: row;
        width: initial;

        .listItem {
            width: initial;
        }

        @include responsive("md") {
            flex-direction: column;
        }
    }

    @include responsive("md") {
        gap: 12px;
    }
}
