@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.content {
    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: $lightGrayBackgroundColor;
        color: $mainTextColor;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.17);
        min-height: 132px;

        p {
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
