@import "@/styles/partials/variables";
@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.headerContainer {
    display: flex;

    .appBar {
        background-color: $mainBackgroundColor;
        box-shadow: none;

        .toolbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
        }
    }
}

.drawerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
}
