@import "@/styles/partials/variables";

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: $lightGrayBackgroundColor;
    color: $mainTextColor;
    border: 0.5px solid $secondaryTextColor;

    border-radius: 10px;
    overflow: hidden;
    // box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05),
    //     0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.17);
    min-height: 132px;
    height: 100%;

    p {
        font-size: 18px;
        font-weight: 400;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
