@import "@/styles/partials/variables";

.controlsOverlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;

    .controls {
        display: flex;
        position: absolute;
        inset-inline-start: 10px;
        top: 10px;
        .button {
            background: none;
            border: none;
            outline: none;
            svg {
                fill: $lightColor;
            }
            &:first-of-type {
                margin-inline-end: 10px;
            }
        }
    }

    &:hover {
        opacity: 1;
    }
}
