@import "@/styles/partials/variables";

.scrollToTop,
.whatsApp {
    position: fixed;
    bottom: 20px;
    inset-inline-start: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    z-index: 99;
    cursor: pointer;
    background-color: $secondaryBackgroundColor;
    color: $lightColor;
    border: none;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &.show {
        opacity: 1;
        visibility: visible;
    }

    svg {
        width: 25px;
        height: 25px;
        path {
            transition: all 0.3s ease-in-out;
            stroke: $lightColor;
        }
    }

    &:hover {
        background-color: $secondaryTextColor;
    }

    &.whatsApp {
        bottom: 75px;

        svg {
            path {
                transition: all 0.3s ease-in-out;
                stroke: initial;
                fill: $lightColor;
            }
        }
    }
}
