@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.main {
    padding-top: calc(80px + 60px);
    padding-bottom: 60px;
    position: relative;
    z-index: 1;

    .container {
        display: flex;
        gap: 60px;
        padding-top: 30px;

        .services {
            display: flex;
            flex-direction: column;
            gap: 30px;
            flex: 1;

            .service {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .serviceText {
                    font-size: 18px;
                    font-weight: 500;
                }

                .subServices {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .subService {
                        display: flex;
                        flex: 1;
                        .bullet {
                            display: inline-flex;
                            color: $secondaryTextColor;
                            margin-inline-end: 10px;
                        }
                        .subServiceText {
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .form {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .buttonContainer {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    @include responsive("lg") {
        .container {
            flex-direction: column;
        }
    }
}
