@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.main {
    padding-top: calc(80px + 60px);
    padding-bottom: 60px;
    position: relative;
    z-index: 1;

    .container {
        @include container();
    }
}
