@import "@/styles/partials/mixins";
@import "@/styles/partials/variables";

.container {
    position: relative;
    z-index: 2;
    @include container();
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        .title {
            font-size: 48px;
            font-weight: 700;
        }

        .text {
            font-size: 18px;
            font-weight: 400;
            width: 65%;
        }
    }
    @include responsive("md") {
        .content {
            .text {
                font-size: 14px;
                width: 100%;
            }
        }
    }
}
